body {
  background: rgb(27, 23, 54);
  background: linear-gradient(180deg, rgba(27, 23, 54, 1) 0%, rgba(8, 7, 14, 1) 100%);
  color: #ffffff;
}

.main-wraaper-whole {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}