// font-family: 'Rubik', sans-serif;
// font-family: 'Space Mono', monospace;

@font-face {
    font-family: "helvetia-regular";
    src: url(../font/Helvetica.ttf);
}

@font-face {
    font-family: "helvetia-oblique";
    src: url(../font/Helvetica-BoldOblique.ttf);
}

@font-face {
    font-family: "courier-new";
    src: url(../font/cour.ttf);
}