.about {
    padding-top: 140px;

    @media(max-width: 767px) {
        padding-top: 80px;
        padding-inline: 15px;
    }

    .ab-wrapper {
        max-width: 600px;
        margin: auto;

        .ab-heading {
            position: relative;

            .abt {
                font-family: "courier-new";
                font-size: 35px;
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        p {
            font-family: "helvetia-regular";
            font-size: 20px;

            .green {
                color: #83fe80;
            }

            .purple {
                color: #bf6cff;

                &.b {
                    font-family: "helvetia-oblique";
                }
            }

            .amber {
                color: #ffb321;
                font-family: "helvetia-oblique";
            }
        }

        .lists {
            padding: 30px 0;
        }

        .note {
            margin-top: 20px;
            font-size: 24px;
            display: inline-block;
            color: #af89ee;
            line-height: 1.2;
            border: 1px solid #af89ee;
            border-radius: 20px;
            padding: 5px 10px;
            align-items: center;
        }

        .images {
            padding-top: 90px;
        }
    }
}