.main-banner {
    background: url(../images/main-banner-ima.png) no-repeat right top;

    @media(max-width: 767px) {
        background: url(../images/main-banner-ima.png) no-repeat left top;
    }

    .b-wrapper {
        background: #00000000;
        backdrop-filter: blur(5px);

        .b-text {
            font-size: 68px;
            font-family: "helvetia-regular";

            span {
                font-family: "helvetia-oblique";
            }

            .green {
                color: #83fe80;
            }

            .purple {
                color: #bf6cff;
            }

            .yellow {
                color: #ffb321;
            }
        }
    }

}