@charset "UTF-8";
/*=== abstracts css start === */
@font-face {
  font-family: "helvetia-regular";
  src: url(../font/Helvetica.ttf);
}
@font-face {
  font-family: "helvetia-oblique";
  src: url(../font/Helvetica-BoldOblique.ttf);
}
@font-face {
  font-family: "courier-new";
  src: url(../font/cour.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  background: rgb(27, 23, 54);
  background: linear-gradient(180deg, rgb(27, 23, 54) 0%, rgb(8, 7, 14) 100%);
  color: #ffffff;
}

.main-wraaper-whole {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
} /*===// end of base css === */
/*=== layouts css start === */
.header {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
}
.header .navbar .navbar-collapse .nav-link {
  font-size: 25px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  color: #fff;
  text-decoration: underline;
  margin-left: 40px;
}
@media (max-width: 991px) {
  .header .navbar .navbar-collapse .nav-link {
    margin-left: 10px;
  }
}
.header .navbar .navbar-collapse .nav-link.nav-btn {
  text-decoration: none;
  background: #4044ee;
  border-radius: 10px;
  padding: 7px 20px;
}

/*===// end of layouts css === */
/*=== components css start === */
.main-banner {
  background: url(../images/main-banner-ima.png) no-repeat right top;
}
@media (max-width: 767px) {
  .main-banner {
    background: url(../images/main-banner-ima.png) no-repeat left top;
  }
}
.main-banner .b-wrapper .b-text {
  font-size: 68px;
  font-family: "helvetia-regular";
}
.main-banner .b-wrapper .b-text span {
  font-family: "helvetia-oblique";
}
.main-banner .b-wrapper .b-text .green {
  color: #83fe80;
}
.main-banner .b-wrapper .b-text .purple {
  color: #bf6cff;
}
.main-banner .b-wrapper .b-text .yellow {
  color: #ffb321;
}

.about {
  padding-top: 140px;
}
@media (max-width: 767px) {
  .about {
    padding-top: 80px;
    padding-inline: 15px;
  }
}
.about .ab-wrapper {
  max-width: 600px;
  margin: auto;
}
.about .ab-wrapper .ab-heading {
  position: relative;
}
.about .ab-wrapper .ab-heading .abt {
  font-family: courier-new;
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .ab-wrapper p {
  font-family: "helvetia-regular";
  font-size: 20px;
}
.about .ab-wrapper p .green {
  color: #83fe80;
}
.about .ab-wrapper p .purple {
  color: #bf6cff;
}
.about .ab-wrapper p .purple.b {
  font-family: "helvetia-oblique";
}
.about .ab-wrapper p .amber {
  color: #ffb321;
  font-family: "helvetia-oblique";
}
.about .ab-wrapper .lists {
  padding: 30px 0;
}
.about .ab-wrapper .note {
  margin-top: 20px;
  font-size: 24px;
  display: inline-block;
  color: #af89ee;
  line-height: 1.2;
  border: 1px solid #af89ee;
  border-radius: 20px;
  padding: 5px 10px;
  align-items: center;
}
.about .ab-wrapper .images {
  padding-top: 90px;
}

@media (max-width: 767px) {
  .how-it-works {
    padding-inline: 15px;
  }
}
.how-it-works .wrapping-slider .images {
  padding: 90px 0px 0px;
  max-width: 750px;
  margin: auto;
}
.how-it-works .wrapping-slider .images .swiper .swiper-button-next::after,
.how-it-works .wrapping-slider .images .swiper .swiper-button-prev::after {
  font-size: 22px;
  font-weight: bold;
  color: #ffb321;
}
.how-it-works .wrapping-slider .images .swiper .swiper-pagination-bullet {
  background: #ffb321;
}
.how-it-works .wrapping {
  background: url(../images/work-bg.png) no-repeat center center/cover;
}
.how-it-works .wrapping .images {
  padding: 90px 0px;
  max-width: 600px;
  margin: auto;
}
.how-it-works .wrapping .images .pic-text {
  margin-top: -40px;
}
.how-it-works .wrapping .images .pic-text .para {
  padding-left: 5px;
  font-family: "helvetia-regular";
  font-size: 20px;
  position: relative;
  z-index: 99;
}
.how-it-works .wrapping .images .pic-text .para .purple {
  color: #bf6cff;
}
.how-it-works .wrapping .images .pic-text .para .purple.b {
  font-family: "helvetia-oblique";
}
.how-it-works .wrapping .images .pic-text .para .yellow {
  color: #ffb321;
  font-family: "helvetia-oblique";
}
@media (max-width: 767px) {
  .how-it-works .wrapping .images .pic-text .para {
    font-size: 16px;
  }
}
.how-it-works .heading {
  font-family: "courier-new";
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
}
.how-it-works .sub-heading {
  font-family: "helvetia-oblique";
  font-weight: bold;
  font-size: 32px;
  color: #c834ff;
  padding-bottom: 30px;
}
.how-it-works p {
  font-family: "helvetia-regular";
  font-size: 20px;
}
.how-it-works p span {
  color: #bf6cff;
}
.how-it-works .number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .how-it-works .number {
    padding: 0 10px;
  }
}
.how-it-works .number p {
  color: #bf6cff;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 50%;
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-farmrock {
  background: url(../images/faq-bg.png) no-repeat;
}
@media (max-width: 767px) {
  .why-farmrock {
    padding: 0 10px;
  }
}
.why-farmrock .w-wrapper {
  padding-top: 90px;
}
.why-farmrock .heading {
  font-family: "courier-new";
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
}
.why-farmrock .sub-heading {
  font-family: "helvetia-oblique";
  font-weight: bold;
  font-size: 32px;
  color: #c834ff;
  padding-bottom: 30px;
}
.why-farmrock p {
  font-family: "helvetia-regular";
  font-size: 20px;
}
.why-farmrock p span {
  color: #bf6cff;
}
.why-farmrock .number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .why-farmrock .number {
    padding: 0 10px;
  }
}
.why-farmrock .number p {
  color: #bf6cff;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 50%;
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio {
  padding: 50px 0;
}
@media (max-width: 991px) {
  .portfolio {
    padding: 10px;
  }
}
.portfolio .heading {
  font-family: "courier-new";
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  padding: 40px 0;
}
@media (max-width: 991px) {
  .portfolio .p-wrapper .nav {
    padding-bottom: 20px;
  }
}
.portfolio .p-wrapper .nav .nav-link {
  font-family: "helvetia-regular";
  font-weight: bold;
  color: #fff;
  text-align: left;
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  padding-right: 20px;
  margin: 0 10px 10px 0;
  border-right: 2px solid rgba(204, 184, 211, 0);
}
.portfolio .p-wrapper .nav .nav-link.active {
  border-right: 2px solid #c834ff;
}
@media (max-width: 991px) {
  .portfolio .p-wrapper .nav .nav-link {
    padding: 8px 16px;
    border-bottom: 2px solid rgba(201, 52, 255, 0);
  }
  .portfolio .p-wrapper .nav .nav-link.active {
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid #c834ff;
  }
}
.portfolio .p-wrapper .tab-content .tab-pane .content-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.portfolio .p-wrapper .tab-content .tab-pane .content-wrapper div {
  padding: 20px;
  border: 1px solid rgba(83, 98, 138, 0.3215686275);
}
@media (max-width: 767px) {
  .portfolio .p-wrapper .tab-content .tab-pane .content-wrapper div {
    padding: 8px;
  }
}

.faq {
  padding: 70px 60px;
}
@media (max-width: 767px) {
  .faq {
    padding: 50px 15px;
  }
}
.faq .heading {
  font-family: "courier-new";
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
}
.faq .accordion-4 .accordion-item {
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.faq .accordion-4 .accordion-item .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: bold;
  font-family: "helvetia-oblique";
}
.faq .accordion-4 .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color: #c834ff;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.faq .accordion-4 .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  content: "−";
  background-image: none;
  transform: none;
}
.faq .accordion-4 .accordion-item .accordion-header .accordion-button:after {
  content: "+";
  background-image: none;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.faq .wake-up {
  font-size: 20px;
  font-family: "helvetia-oblique";
  color: #83fe80;
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */